####################### Default files not included on github ####################

.Rproj.user
.Rhistory
.RData
.Ruserdata

## Only html files need to go on here, skipping the Rmd ##
.Rmd

## Other files ##
.css

